/*****************************
1. DEFAULT SETTINGS
*****************************/

$fontFamily: -apple-system, BlinkMacSystemFont, "PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif;
$fontSize: 1.2rem;
$fontColor: #fff;
$lineHeight: 2.0rem;

$bgColor: #eee6e5;
$defaultBg: #191919;
$resultBg: #eee6e5;

$placeholderColor: rgba(0, 196, 179, .3);

$loadingBgColor: rgba(244,239,235,.5);
$loadingZindex: 10;

$maskBgColor: rgba(0,0,0,0.86);






/*****************************
2. ALERT SETTINGS
*****************************/

$alertFontColor: #ff495c;
$alertFontSize: 1.5rem;
$alertZindex: 9999;



/*****************************
3. POPUP SETTINGS
*****************************/

$popupFontSize: 1.8rem;
$popupBgColor: #fff;
$popupHeadBgColor: #000;
$popupHeadFontColor: #fff;
$popupZindex: 9;



/*****************************
4. BTN SETTINGS
*****************************/

$btnWidth: 38%;
$btnHeight: 32px;
$btnBgColor: none;
$btnFontColor: #fff;
$btnFontSize: 1.3rem;
$btnMargin: 0 2%;











